body {
	background: black;
	font-family: Acme;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	height: 75px;
}

.postcard-header img {
	width: 60px;
	height: 60px;
	padding: 15px;
}

.postcard-header h1 {
	width: 90%;
	margin: 0;
	padding: 15px;
}

.postcard-body {
	display: flex;
	margin: 5px;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	margin: 5px;
}

input {
	border: none;
	border-bottom: grey solid 1px;
	font-family: Acme;
	padding: 3px;
}

p {
	font-size: medium;
}

.postcard-footer {
	text-align: center;
}

.postcard-footer button {
	background: lightgray;
	padding: 10px;
	font-family: Acme;
	border: none;
}
